.card-posicao {
  display: flex;
  flex-direction: row;
  background: var(--color-secondary);
}

.card-posicao .posicao {
  background: var(--color-primary);
  display: flex;
  place-items: center;
  padding: 1.5rem 2rem;
}

.card-posicao .info-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-left: 2rem;
}

.card-posicao .info-card .titulo {
  color: var(--color-tertiary);
}

.card-posicao .info-card .ano {
  color: var(--color-primary);
}
