.page-header {
    background: var(--color-box);
    color: var(--color-secondary);

    text-align: center;
    justify-content: center;
    padding: 2.2rem 21rem;
}

.page-header hr {
    border-color: var(--color-secondary);
    width: 15px;
    margin-bottom: 2rem;
    display: inline-block;
}

.page-header-top h4 {
    color: var(--color-title);
}

.page-header-top h1 {
    padding: 1rem;
}