#page-resultado main {
    display: flex;
    place-content: center;
}

#page-resultado main .lista-resultado {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    row-gap: 1rem;
}

#page-resultado main .info {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    margin-top: 20px;
    color: var(--color-secondary);
    background: var(--color-primary);
    padding: 0.8rem;
    border-radius: 5px;
}

#page-resultado main .info > * {
    display: block;
}

#page-resultado footer {
    display: flex;
    place-items: center;
    place-content: center;
    margin-top: 1rem;
}