#page-resultado main {
  display: flex;
  place-content: center;
}

#page-resultado main .lista-resultado {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  row-gap: 1rem;
  width: 100%;
}

#page-resultado main .info {
  background: var(--color-primary);
  border-radius: 5px;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0.8rem;
  place-content: center;
  place-items: center;
}

#page-resultado main .info > * {
  display: block;
}

#page-resultado footer {
  display: flex;
  margin-top: 1rem;
  place-content: center;
  place-items: center;
}
