.card-filme {
  background: var(--color-secondary);
  display: flex;
  flex-direction: row;
}

.card-filme .selection {
  display: flex;
  padding: 1.2rem;
  place-items: center;
}

.card-filme .info-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.card-filme .info-card .titulo {
  color: var(--color-tertiary);
}

.card-filme .info-card .ano {
  color: var(--color-primary);
}

input[type='checkbox'].check {
  height: 20px;
  width: 20px;
}
