:root {
  --color-background: #a8a8a8;
  --color-primary: #6e6e6e;
  --color-secondary: #fff;
  --color-tertiary: #343434;
  --color-box: #6e6e6e;
  --color-title: #a8a8a8;
  --color-button: #343434;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.container-page {
  color: var(--color-secondary);
  margin: 2rem 3.5rem;
  width: 100vw;
}

a.btn-default {
  background: var(--color-button);
  color: var(--color-secondary);
  padding: 15px;
  text-decoration: none;
}
